
@{
    ViewBag.Title = "Courselist";
}

<h2>Courselist</h2>
<table class="table tab-content">
    <tr>
        <th>
            Ip
        </th>
    </tr>
    <tr>
        <th>
           oop1
        </th>
    </tr>
    <tr>
        <th>
            ooad
        </th>
    </tr>
    <tr>
        <th>
            c#
        </th>
    </tr>
    <tr>
        <th>
            web
        </th>
    </tr>
    <tr>
        <th>
            ad.web
        </th>
    </tr>

</table>

