
@{
    ViewBag.Title = "Education";

}
<h2>EDUCATION</h2>
<ol>
    @foreach (var item in ViewBag.Education)
    {

        <li>
            @item.Title
            <ul>
                <li>year: @item.year</li>
                <li>group: @item.group</li>
                <li>inst: @item.inst</li>
            </ul>
        </li>



    }
</ol>

